html {
    font-size: 62.5%;
}

body,
input,
select,
button,
textarea {
    font-family: $font_regular;
    font-weight: $weight_regular;
    font-size: 1.5rem;
    line-height: 1.6;
}

.loud {
    text-transform: uppercase;
}