// Colors
$white: #FFFFFF;
$black: #000000;

// Font Trees
$font_regular: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights
$weight_light: 300;
$weight_regular: 400;
$weight_bold: 700;

// Paths
$img_path: '/lib/img';

// Animations
$base_speed: .6s;
$ease: ease-out;

// Grid Settings
$max-width: 1400px;